/**
 * Proofreader
 *
 * @package     Proofreader
 * @author      Sergey M. Litvinov (smart@joomlatune.com), Olga Novikova (helga@joomlatune.com)
 * @copyright   Copyright (C) 2013-2015 by Sergey M. Litvinov, Olga Novikova. All rights reserved.
 * @copyright   Copyright (C) 2005-2007 by Alexandr Balashov. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

.proofreader_highlight {
	color: #f00;
}

/* About */
#proofreader-about {
	margin: 10px auto;
	padding: 8px 8px 8px 65px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(../../../img/proofreader_icon_48x.png) no-repeat 8px 8px;
}

#proofreader-about .proofreader-copyright, #proofreader-about .proofreader-description, #proofreader-about .proofreader-license {
	color: #333;
	margin-top: 12px;
	font-size: 14px;
}

#proofreader-about .proofreader-name, #proofreader-about .proofreader-version, #proofreader-about .proofreader-date {
	color: #f90;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#proofreader-about .proofreader-name, #proofreader-about .proofreader-version {
	font-weight: bold;
}

#proofreader-about .proofreader-date {
	font-weight: normal;
}

#proofreader-about .proofreader-donate {
	margin-top: 8px;
}

/* Settings */
#proofreader_settings th,
#proofreader_settings td {
	padding: 10px 0;
}

#proofreader_settings #proofreader_recaptcha_site_key,
#proofreader_settings #proofreader_recaptcha_secret_key {
	width: 350px;
}

@media screen and ( max-width: 782px ) {
	#proofreader_settings th,
	#proofreader_settings td {
		display: block;
	}
}

@media screen and ( min-width: 782px ) {
	#proofreader_settings th {
		width: 20%;
	}
}

/* Typos */
#proofreader_typos .fixed .column-typo_text .info {
	display: none;
}

#proofreader_typos .fixed .column-typo_text .info p {
	margin: 2px 5px;
}

#proofreader_typos .fixed .column-created,
#proofreader_typos .fixed .column-created_by_name {
	width: 10%;
}

@media screen and ( max-width: 782px ) {
	#proofreader_typos .fixed .column-created_by_name {
		display: none;
	}

	#proofreader_typos .fixed .column-created {
		width: auto;
	}
}

@media only screen and ( max-width: 320px ) {
	#proofreader_typos .fixed .column-typo_comment,
	#proofreader_typos .fixed .column-created {
		display: none;
	}

	#proofreader_typos .fixed .column-typo_text .info {
		display: block;
	}
}

/* Dashboard widget */
#proofreader_dashboard_widget {
	padding: 0;
	margin-bottom: 20px;
}

#proofreader_dashboard_widget .inside {
	margin: 0;
	padding: 0;
}
#proofreader_dashboard_widget .inside .activity-block{
	padding-top: 0;
}

#proofreader_dashboard_widget .not-found {
	color: #777;
	text-align: center;
	margin: 5px auto;
}

#proofreader_dashboard_widget .typo-item {
	border-top: 1px solid #eee;
	background: #fafafa;
	padding: 8px 12px;
}

#proofreader_dashboard_widget .typo-item:first-child {
	border: none;
}

#proofreader_dashboard_widget .typo-item:hover .row-actions {
	visibility: visible
}

#proofreader_dashboard_widget .typo-item .date {
	color: #777;
}

#proofreader_dashboard_widget .typo-item blockquote {
	margin: 5px 10px;
}

#proofreader_dashboard_widget .subsubsub {
	float: none;
	border-top: 1px solid #eee;
	margin-top: 0;
	padding: 8px 12px 4px;
}

/* Admin bar */
#wpadminbar #wp-admin-bar-proofreader-typos .count-0 {
	opacity: .5;
}
