/**
 * Proofreader
 *
 * @package     Proofreader
 * @author      Sergey M. Litvinov (smart@joomlatune.com), Olga Novikova (helga@joomlatune.com)
 * @copyright   Copyright (C) 2013-2015 by Sergey M. Litvinov, Olga Novikova. All rights reserved.
 * @copyright   Copyright (C) 2005-2007 by Alexandr Balashov. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */
 @import 'compass/css3';

$path: '/src/img/';
$formWidth: 500px;
$popupWidth: 600px;
$messageWidth: 558px;
$shadow: #000 1px 1px 5px;
$borderGrey: 1px solid #ccc;
$borderBlack: 1px solid #000;
$borderYellow: 1px solid #fbeed5;
$errorColor: #f00;
$mouseButtonColor: #fcf8e3;
$formBackgroundColor: #fff;
$popupColor: #000;
$popupBackgroundColor: #fff;

html, body {
	height: 100%;
}

.proofreader {
	&_highlight {
		color: $errorColor;
	}
	&_overlay {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url($path + 'proofreader_overlay.png');
		text-align: center;
		z-index: 10;
		&:after {
			display: inline-block;
			width: 0;
			height: 100%;
			vertical-align: middle;
			zoom: 1;
			content: ' ';
		}
	}
	&_container {
		padding: 10px;
		position: relative;
		display: inline-block;
		width: $formWidth;
		min-height: 40px;
		border: $borderGrey;
		border-radius: 10px;
		box-shadow: $shadow;
		@include box-sizing(border-box);
		background: $formBackgroundColor url($path + 'proofreader_throbber.gif') no-repeat 50% 50%;
		vertical-align: middle;
		text-align: justify;
		zoom: 1;
	}
	&_form {
		padding: 0;
		background-color: $formBackgroundColor;
		text-align: justify;
	}
	&_message_error {
		margin: 2px 0;
		padding: 8px;
		border: $borderYellow;
		border-radius: 4px;
		color: $errorColor;
		background-color: $mouseButtonColor;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	}
	&_comment {
		width: 100%;
		@include box-sizing(border-box);
	}
	&_typo_container {
		margin: 3px 0 9px;
		padding: 5px;
		width: 100%;
		height: 4.5em;
		border: $borderGrey;
		@include box-sizing(border-box);
		background-color: $formBackgroundColor;
		line-height: normal;
		overflow-x: auto;
	}
	&_prompt, &_mouse {
		background: $popupBackgroundColor url($path + 'proofreader_icon_16x.png') no-repeat;
	}
	&_prompt {
		margin: 15px auto;
		padding: 2px 0 2px 20px;
		background-color: inherit;
		background-position: 2px 2px;
		clear: both;
	}
	&_mouse {
		padding: 5px 5px 5px 25px;
		width: auto;
		border: $borderBlack;
		border-radius: 5px;
		box-shadow: $shadow;
		background-position: 5px 50%;
		&:hover {
			cursor: pointer;
		}
	}
	&_popup {
		position: relative;
		display: inline-block;
		padding: 15px;
		width: $popupWidth;
		border: $borderGrey;
		border-radius: 10px;
		box-shadow: $shadow;
		color: $popupColor;
		background-color: $popupBackgroundColor;
		line-height: 1.1em;
		vertical-align: middle;
		zoom: 1;
		&.proofreader_popup_message {
			&_error {
				background-image: url($path + 'proofreader_error.svg');
			}
			&_success {
				background-image: url($path + 'proofreader_success.svg');
			}
			&_success, &_error {
				background-position: 20px 20px;
				background-repeat: no-repeat;
				background-size: 25px 25px;
			}
		}
		&_close {
			position: absolute;
			top: 0;
			right: 0;
			margin: 5px;
			width: 16px;
			height: 16px;
			background-image: url($path + 'proofreader_close.svg');
			background-size: 16px 16px;
			&:hover {
				cursor: pointer;
			}
		}
		&_message {
			display: table-cell;
			padding-left: 42px;
			width: $messageWidth;
			height: 2.2em;
			vertical-align: middle;
			text-align: left;
			font-size: 16px;
		}
	}
}
