/**
 * Proofreader
 *
 * @package     Proofreader
 * @author      Sergey M. Litvinov (smart@joomlatune.com), Olga Novikova (helga@joomlatune.com)
 * @copyright   Copyright (C) 2013-2015 by Sergey M. Litvinov, Olga Novikova. All rights reserved.
 * @copyright   Copyright (C) 2005-2007 by Alexandr Balashov. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */
.proofreader_ {
	&typo_container,
	&textarea {
		width: 470px;
	}

	&mouse {
		height: 30px;
	}

	&popup {
		height: auto;
	}
}