/**
 * Proofreader
 *
 * @package     Proofreader
 * @author      Sergey M. Litvinov (smart@joomlatune.com), Olga Novikova (helga@joomlatune.com)
 * @copyright   Copyright (C) 2013-2015 by Sergey M. Litvinov, Olga Novikova. All rights reserved.
 * @copyright   Copyright (C) 2005-2007 by Alexandr Balashov. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

/* About */
#proofreader-about {
	margin: 10px auto;
	padding: 8px 8px 8px 65px;
	width: 525px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(../../../../../img/proofreader_icon_48x.png) no-repeat 8px 8px;
}

#proofreader-about .proofreader-copyright, #proofreader-about .proofreader-description, #proofreader-about .proofreader-jed, #proofreader-about .proofreader-license {
	color: #333;
	margin-top: 12px;
	font-size: 14px;
}

#proofreader-about .proofreader-name, #proofreader-about .proofreader-version, #proofreader-about .proofreader-date {
	color: #f90;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#proofreader-about .proofreader-name, #proofreader-about .proofreader-version {
	font-weight: bold;
}

#proofreader-about .proofreader-date {
	font-weight: normal;
}

/* Filter */
fieldset#filter-bar {
	min-height: 35px;
	border: 0;
	border-bottom: 1px solid #d5d5d5;
}

.fltlft {
	float: left
}

.fltrt {
	float: right
}

td.left,
th.left {
	text-align: left;
}

td.center,
th.center,
.center {
	text-align: center;
	float: none;
}

td.center img,
th.center img {
	float: none;
}

td.right, th.right {
	text-align: right;
}

.nowrap {
	white-space: nowrap;
}